streamlit>=1.28.0
opencv-python==4.8.1.78
numpy
pandas
matplotlib
scipy
Pillow
pyyaml
tqdm

# Deep Learning
torch>=2.0.0
torchvision>=0.15.0
ultralytics>=8.0.196

# Tracking
deep-sort-realtime>=1.3.2

# Roboflow
roboflow>=1.1.0

# Video Processing
moviepy>=1.0.0
